html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
}

body {
	display: flex;
	flex-direction: column;
 	font-family: "sans-serif";
}

#titlePane {
	font-size: 42px;
	color: #fc8d62;
	width: 99%;
	height: 8%;
	font-weight: bold;
	text-align: center;
 	text-decoration: underline;
 	padding-top: 1%;
 	margin-left: 0.5%;
}


label {
	color: white;
	padding-right: 10px;
}

#demos {
	font-size: 18px;
}

#visPane {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 99%;
	height: 90%;
	border: 1px solid #fff;
 	margin-left: 0.5%;
}

#descriptionPane {
	display: flex;
	flex-direction: column;
	justify-content: normal;
	align-items: flex-start;
	width: 17%;
	height: 100%;
	background-color: lightgray;
}

.subheader {
	font-size: 18px;
	font-weight: bold;
	color: black;
	margin-left: 5px;
	margin-top: 10px;
	text-decoration: underline;
}

.taskText {
	font-size: 14px;
	color: black;
	margin-left: 5px;
}

#displayPane {
	width: 83%;
	height: 100%;
}

.barRect {
	fill: #66c2a5;
	stroke: black;
}

.barActive, .mouseOver {
	fill: #fc8d62;
	cursor: move;
}

.barSemiActive {
	fill: #fc8d62;
	opacity: 0.6;
}

.selectedBar {
	fill: #fc8d62;
}

.selectedGroupBar {
	stroke: white;
	stroke-width: 2;
}

.dragGroup {
	stroke: #fc8d62;
	stroke-width: 2;
}

.mouseOverClick {
	cursor: default;
}

.axis {
	color: white;
	font-size: 12px;
 	font-family: "Arial";
}

.x_tick {
	fill: white;
	font-size: 6px;
	text-anchor: end;
 	font-family: "Arial";
}

.axisLabel {
	font-size: 18px;
	color: #fc8d62;
 	font-family: "Arial";
}

.row_label {
	font-size: 15px;
	fill: #fff;
	text-anchor: end;
	alignment-baseline: central;
 	font-family: "Arial";
}

.col_label {
	font-size: 15px;
	fill: #fff;
 	font-family: "Arial";
 	text-anchor: start;
	alignment-baseline: central;
}

.cell_label {
	font-size: 8px;
	alignment-baseline: central;
	text-anchor: middle;
 	font-family: "Arial";
}

.grid_cell {
	fill: #66c2a5;
	stroke: none;
}

.selectedLabel {
	font-size: 15px;
	fill: #fc8d62;
	font-weight: bold;
	font-style: italic;
}

.boundary {
	fill: none;
	stroke: white;
	stroke-width: 1;
	stroke-dasharray: 3; 
}